SchemaObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://soap.sforce.com/2006/04/metadata" elementFormDefault="qualified" xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T6_picklist">
		<xs:sequence>
			<xs:element name="controllingField" minOccurs="0" type="xs:string"/>
			<xs:element name="picklistValues" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fullName" type="xs:string"/>
						<xs:element name="controllingFieldValues" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
						<xs:element name="default" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sorted" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="actionOverrides" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="actionName" type="xs:string"/>
							<xs:element name="type" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="compactLayoutAssignment" type="xs:string"/>
				<xs:element name="enableEnhancedLookup" type="xs:boolean"/>
				<xs:element name="enableFeeds" type="xs:boolean"/>
				<xs:element name="enableHistory" type="xs:boolean"/>
				<xs:element name="externalSharingModel" type="xs:string"/>
				<xs:element name="fieldSets" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fullName" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="displayedFields" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="field" type="xs:string"/>
										<xs:element name="isFieldManaged" type="xs:boolean"/>
										<xs:element name="isRequired" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="label" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fields" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fullName" type="xs:string"/>
							<xs:choice minOccurs="0">
								<xs:sequence>
									<xs:choice>
										<xs:sequence>
											<xs:choice>
												<xs:element name="picklist" type="T6_picklist"/>
												<xs:sequence>
													<xs:element name="displayLocationInDecimal" type="xs:boolean"/>
													<xs:element name="externalId" type="xs:boolean"/>
													<xs:element name="label" type="xs:string"/>
													<xs:element name="required" type="xs:boolean"/>
													<xs:element name="scale" type="xs:byte"/>
												</xs:sequence>
											</xs:choice>
											<xs:element name="trackFeedHistory" type="xs:boolean"/>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="displayFormat" type="xs:string"/>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:element name="label" type="xs:string"/>
										</xs:sequence>
									</xs:choice>
									<xs:element name="trackHistory" type="xs:boolean"/>
									<xs:element name="type" type="xs:string"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="trackFeedHistory" type="xs:boolean"/>
									<xs:element name="trackHistory" type="xs:boolean"/>
									<xs:element name="type" minOccurs="0" type="xs:string"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="externalId" type="xs:boolean"/>
									<xs:choice>
										<xs:sequence>
											<xs:element name="label" type="xs:string"/>
											<xs:choice>
												<xs:sequence>
													<xs:element name="required" type="xs:boolean"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="precision" type="xs:byte"/>
													<xs:element name="required" type="xs:boolean"/>
													<xs:element name="scale" type="xs:byte"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
													<xs:element name="unique" minOccurs="0" type="xs:boolean"/>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="picklist" type="T6_picklist"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
													<xs:element name="visibleLines" minOccurs="0" type="xs:byte"/>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="length" type="xs:int"/>
													<xs:choice>
														<xs:sequence>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="visibleLines" type="xs:byte"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="required" type="xs:boolean"/>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="unique" type="xs:boolean"/>
														</xs:sequence>
													</xs:choice>
												</xs:sequence>
											</xs:choice>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="inlineHelpText" type="xs:string"/>
											<xs:element name="label" type="xs:string"/>
											<xs:choice>
												<xs:sequence>
													<xs:choice>
														<xs:element name="picklist" type="T6_picklist"/>
														<xs:element name="required" type="xs:boolean"/>
													</xs:choice>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="precision" type="xs:byte"/>
													<xs:element name="required" type="xs:boolean"/>
													<xs:element name="scale" type="xs:byte"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
													<xs:element name="unique" type="xs:boolean"/>
												</xs:sequence>
											</xs:choice>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="formula" type="xs:string"/>
											<xs:element name="formulaTreatBlanksAs" type="xs:string"/>
											<xs:element name="label" type="xs:string"/>
											<xs:element name="required" type="xs:boolean"/>
											<xs:element name="trackHistory" type="xs:boolean"/>
											<xs:element name="type" type="xs:string"/>
											<xs:element name="unique" minOccurs="0" type="xs:boolean"/>
										</xs:sequence>
									</xs:choice>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="description" type="xs:string"/>
									<xs:choice>
										<xs:sequence>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:choice>
												<xs:sequence>
													<xs:element name="label" type="xs:string"/>
													<xs:choice>
														<xs:sequence>
															<xs:choice>
																<xs:element name="required" type="xs:boolean"/>
																<xs:sequence>
																	<xs:element name="precision" type="xs:byte"/>
																	<xs:element name="required" type="xs:boolean"/>
																	<xs:element name="scale" type="xs:byte"/>
																</xs:sequence>
															</xs:choice>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="unique" minOccurs="0" type="xs:boolean"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="picklist" type="T6_picklist"/>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="visibleLines" minOccurs="0" type="xs:byte"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="length" type="xs:int"/>
															<xs:choice>
																<xs:sequence>
																	<xs:element name="trackFeedHistory" type="xs:boolean"/>
																	<xs:element name="trackHistory" type="xs:boolean"/>
																	<xs:element name="type" type="xs:string"/>
																	<xs:element name="visibleLines" type="xs:byte"/>
																</xs:sequence>
																<xs:sequence>
																	<xs:element name="required" type="xs:boolean"/>
																	<xs:element name="trackFeedHistory" type="xs:boolean"/>
																	<xs:element name="trackHistory" type="xs:boolean"/>
																	<xs:element name="type" type="xs:string"/>
																	<xs:element name="unique" type="xs:boolean"/>
																</xs:sequence>
															</xs:choice>
														</xs:sequence>
													</xs:choice>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="inlineHelpText" type="xs:string"/>
													<xs:element name="label" type="xs:string"/>
													<xs:choice>
														<xs:sequence>
															<xs:choice>
																<xs:sequence>
																	<xs:element name="precision" type="xs:byte"/>
																	<xs:element name="required" type="xs:boolean"/>
																	<xs:element name="scale" type="xs:byte"/>
																</xs:sequence>
																<xs:sequence>
																	<xs:element name="length" type="xs:int"/>
																	<xs:element name="required" type="xs:boolean"/>
																</xs:sequence>
															</xs:choice>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="unique" type="xs:boolean"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="required" type="xs:boolean"/>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="picklist" type="T6_picklist"/>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="visibleLines" type="xs:byte"/>
														</xs:sequence>
													</xs:choice>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="formula" type="xs:string"/>
													<xs:element name="formulaTreatBlanksAs" type="xs:string"/>
													<xs:choice>
														<xs:sequence>
															<xs:element name="label" type="xs:string"/>
															<xs:element name="required" type="xs:boolean"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="inlineHelpText" type="xs:string"/>
															<xs:element name="label" type="xs:string"/>
															<xs:element name="precision" type="xs:byte"/>
															<xs:element name="required" type="xs:boolean"/>
															<xs:element name="scale" type="xs:byte"/>
														</xs:sequence>
													</xs:choice>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
													<xs:element name="unique" type="xs:boolean"/>
												</xs:sequence>
											</xs:choice>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="displayFormat" type="xs:string"/>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:element name="label" type="xs:string"/>
											<xs:element name="trackHistory" type="xs:boolean"/>
											<xs:element name="type" type="xs:string"/>
										</xs:sequence>
									</xs:choice>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="deleteConstraint" type="xs:string"/>
									<xs:choice>
										<xs:sequence>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:element name="label" type="xs:string"/>
											<xs:choice>
												<xs:sequence>
													<xs:element name="referenceTo" type="xs:string"/>
													<xs:element name="relationshipLabel" minOccurs="0" type="xs:string"/>
													<xs:element name="relationshipName" type="xs:string"/>
													<xs:element name="required" type="xs:boolean"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="lookupFilter">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="active" type="xs:boolean"/>
																<xs:element name="filterItems" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="field" type="xs:string"/>
																			<xs:element name="operation" type="xs:string"/>
																			<xs:choice>
																				<xs:element name="value" type="xs:string"/>
																				<xs:element name="valueField" type="xs:string"/>
																			</xs:choice>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="isOptional" type="xs:boolean"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="referenceTo" type="xs:string"/>
													<xs:element name="relationshipLabel" type="xs:string"/>
													<xs:element name="relationshipName" type="xs:string"/>
													<xs:element name="required" type="xs:boolean"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
												</xs:sequence>
											</xs:choice>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="description" type="xs:string"/>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:element name="label" type="xs:string"/>
											<xs:element name="referenceTo" type="xs:string"/>
											<xs:element name="relationshipLabel" type="xs:string"/>
											<xs:element name="relationshipName" type="xs:string"/>
											<xs:element name="required" type="xs:boolean"/>
											<xs:element name="trackFeedHistory" type="xs:boolean"/>
											<xs:element name="trackHistory" type="xs:boolean"/>
											<xs:element name="type" type="xs:string"/>
										</xs:sequence>
									</xs:choice>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="defaultValue" type="xs:string"/>
									<xs:choice>
										<xs:sequence>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:choice>
												<xs:sequence>
													<xs:element name="label" type="xs:string"/>
													<xs:choice>
														<xs:sequence>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="length" type="xs:int"/>
															<xs:element name="required" type="xs:boolean"/>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="unique" type="xs:boolean"/>
														</xs:sequence>
													</xs:choice>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="inlineHelpText" type="xs:string"/>
													<xs:element name="label" type="xs:string"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
												</xs:sequence>
											</xs:choice>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="description" type="xs:string"/>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:choice>
												<xs:sequence>
													<xs:element name="label" type="xs:string"/>
													<xs:choice>
														<xs:sequence>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
														</xs:sequence>
														<xs:sequence>
															<xs:element name="precision" type="xs:byte"/>
															<xs:element name="required" type="xs:boolean"/>
															<xs:element name="scale" type="xs:byte"/>
															<xs:element name="trackFeedHistory" type="xs:boolean"/>
															<xs:element name="trackHistory" type="xs:boolean"/>
															<xs:element name="type" type="xs:string"/>
															<xs:element name="unique" type="xs:boolean"/>
														</xs:sequence>
													</xs:choice>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="inlineHelpText" type="xs:string"/>
													<xs:element name="label" type="xs:string"/>
													<xs:element name="trackFeedHistory" type="xs:boolean"/>
													<xs:element name="trackHistory" type="xs:boolean"/>
													<xs:element name="type" type="xs:string"/>
												</xs:sequence>
											</xs:choice>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="deprecated" type="xs:boolean"/>
											<xs:element name="externalId" type="xs:boolean"/>
											<xs:element name="label" type="xs:string"/>
											<xs:element name="trackFeedHistory" type="xs:boolean"/>
											<xs:element name="trackHistory" type="xs:boolean"/>
											<xs:element name="type" type="xs:string"/>
										</xs:sequence>
									</xs:choice>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listViews" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fullName" type="xs:string"/>
							<xs:choice>
								<xs:sequence>
									<xs:element name="filterScope" type="xs:string"/>
									<xs:element name="label" type="xs:string"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="columns" maxOccurs="unbounded" type="xs:string"/>
									<xs:element name="filterScope" type="xs:string"/>
									<xs:element name="filters" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="field" type="xs:string"/>
												<xs:element name="operation" type="xs:string"/>
												<xs:element name="value" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="label" type="xs:string"/>
									<xs:element name="language" type="xs:string"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="recordTypeTrackFeedHistory" type="xs:boolean"/>
				<xs:element name="recordTypeTrackHistory" type="xs:boolean"/>
				<xs:element name="recordTypes" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fullName" type="xs:string"/>
							<xs:element name="active" type="xs:boolean"/>
							<xs:element name="description" minOccurs="0" type="xs:string"/>
							<xs:element name="label" type="xs:string"/>
							<xs:element name="picklistValues" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="picklist" type="xs:string"/>
										<xs:element name="values" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="fullName" type="xs:string"/>
													<xs:element name="default" type="xs:boolean"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="searchLayouts">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="customTabListAdditionalFields" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="lookupDialogsAdditionalFields" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="lookupFilterFields" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="lookupPhoneDialogsAdditionalFields" maxOccurs="unbounded" type="xs:string"/>
							<xs:element name="searchResultsAdditionalFields" maxOccurs="unbounded" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sharingModel" type="xs:string"/>
				<xs:element name="validationRules" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fullName" type="xs:string"/>
							<xs:element name="active" type="xs:boolean"/>
							<xs:choice>
								<xs:sequence>
									<xs:element name="errorConditionFormula" type="xs:string"/>
									<xs:element name="errorMessage" type="xs:string"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="description" type="xs:string"/>
									<xs:element name="errorConditionFormula" type="xs:string"/>
									<xs:element name="errorDisplayField" minOccurs="0" type="xs:string"/>
									<xs:element name="errorMessage" type="xs:string"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="webLinks" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fullName" type="xs:string"/>
							<xs:element name="availability" type="xs:string"/>
							<xs:element name="displayType" type="xs:string"/>
							<xs:choice>
								<xs:sequence>
									<xs:element name="linkType" type="xs:string"/>
									<xs:element name="masterLabel" type="xs:string"/>
									<xs:element name="openType" type="xs:string"/>
									<xs:element name="protected" type="xs:boolean"/>
									<xs:element name="requireRowSelection" minOccurs="0" type="xs:boolean"/>
									<xs:element name="url" type="xs:string"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element name="encodingKey" type="xs:string"/>
									<xs:choice>
										<xs:sequence>
											<xs:element name="height" minOccurs="0" type="xs:short"/>
											<xs:element name="linkType" type="xs:string"/>
											<xs:element name="masterLabel" type="xs:string"/>
											<xs:element name="openType" type="xs:string"/>
											<xs:element name="protected" type="xs:boolean"/>
										</xs:sequence>
										<xs:sequence>
											<xs:element name="hasMenubar" type="xs:boolean"/>
											<xs:element name="hasScrollbars" type="xs:boolean"/>
											<xs:element name="hasToolbar" type="xs:boolean"/>
											<xs:element name="height" type="xs:short"/>
											<xs:element name="isResizable" type="xs:boolean"/>
											<xs:element name="linkType" type="xs:string"/>
											<xs:element name="masterLabel" type="xs:string"/>
											<xs:element name="openType" type="xs:string"/>
											<xs:element name="position" type="xs:string"/>
											<xs:element name="protected" type="xs:boolean"/>
											<xs:element name="showsLocation" type="xs:boolean"/>
											<xs:element name="showsStatus" type="xs:boolean"/>
										</xs:sequence>
									</xs:choice>
									<xs:element name="url" type="xs:string"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
